@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Raleway:200');

h1,
h2,
h3 {
  font-family: 'Amatic SC', sans-serif;
}

p,
input,
button,
label {
  font-family: 'Raleway', sans-serif;
}

button {
  padding: 10px;
  margin: 20px;
}

.inline-button {
  margin: 0 20px;
  padding: 5px 10px;
}

input {
  margin-bottom: 20px;
}